<!DOCTYPE html>
<html lang="en">
  <%- include ../partials/head %>
<body>
      <%- include ../partials/nav %>
  <main>
    <form method="POST" action="/builder/cards">
      <h2>Deck: test</h2>
      <select name="class">
        <option value="class">class</option>
        <option value="Neutral">Neutral</option>
      </select>
      <input type="submit">
    </form>
    <section class='contain-container'>
      
      <% if(data) { %>
      <% data.forEach(card => { %>
        <div class="img-container">
          <img class="builderCards" src="<%= card.img %>">
          <form id="<%= card.name %>" method="POST" action="/builder/cards" class="hidden">
            <input type="text" name="name" value="<%= card.name %>">
            <input type="text" name="type" value="<%= card.type %>">
            <input type="text" name="class" value="<%= card.class %>">
            <input type="text" name="cost" value="<%= card.cost %>">
            <input type="text" name="img" value="<%= card.img %>">
            <input type="text" name="rarity" value="<%= card.rarity %>">
          </form>
          <button form="<%= card.name %>" type="submit" value="submit" class="save-button">Save</button>
        </div>
          <% }) %>
        <% } else { %>
          <p>please select a class to display cards</p>
        <% } %>
     
    </section>
  </main>
    <!-- <%- include ../partials/footer %> -->
</body>
</html>
