<!DOCTYPE html>
<html lang="en">
  <%- include ../partials/head %>
<body>
      <%- include ../partials/nav %>

      <button class="create-deck">Create New Deck</button>
      <% decks.forEach(deck => { %>
        <a href="/decks/<%= deck.deckid %>"><%= deck.deckname %></a>
        <% }); %>
        
      <button>Create New Deck</button>
      <section class="pop-up">
        <form action="/builder" method="POST">
          <label for="deck-name">Name your deck:</label>
          <input required type="text" maxlength="15" placeholder="Deck name" name="deckName">
          <label for="class-select">Select deck class:</label>
          <select required name="class">
            <option value="Druid">Druid</option>
            <option value="Hunter">Hunter</option>
            <option value="Mage">Mage</option>
            <option value="Paladin">Paladin</option>
            <option value="Priest">Priest</option>
            <option value="Rogue">Rogue</option>
            <option value="Shaman">Shaman</option>
            <option value="Warlock">Warlock</option>
            <option value="Warrior">Warrior</option>
          </select>
          <input type="submit">
        </form>
      </section>
      <%- include ../partials/footer %>
</body>
</html>