<!DOCTYPE html>
<html lang="en">
  <%- include ../partials/head %>
<body>
  <%- include ../partials/nav %>
  <button class="edit" id="edit">Edit Deck</button>
  <ul>
    <% deck.forEach(card => { %>
    <li class="card-list-item">
      <%= `${card.quantity} - ${card.name}` + '  ' %>&nbsp;&nbsp;&nbsp;
      <form method="POST" action="/remove/<%= deckid %>" class="inline float-right">
        <input type="text" name="deckid" value="<%= deckid %>" class="hidden">
        <input type="text" name="cardid" value="<%= card.cardid %>" class="hidden">
        <input type="text" name="quantity" value="<%= card.quantity %>" class="hidden">
        <input type="submit" value="remove" class="inline">
      </form>
    </li>
    <% }); %>
  </ul>
      <%- include ../partials/footer %>
      <script>
          function hamburgerSwitch() {
              let toggle = document.getElementById("myLinks");
              if (toggle.style.display === "block") {
                toggle.style.display = "none";
              } else {
                toggle.style.display = "block";
              }
          }
      </script>
</body>
</html>