<!DOCTYPE html>
<html lang="en">
  <%- include ../partials/head %>
<body class="center-align">
      <%- include ../partials/nav %>

      <button id="togglingForm" class="create-deck">Create New Deck</button>
      <% decks.forEach(deck => { %>
        <div class="user-decks">
          <h2><%= deck.deckname %></h2>
          <h2><%= deck.class %></h2>
        </div>
      <% }); %>
      <section id="classToggle" class="pop-up hidden-toggle">
        <form action='/builder' method="POST" class="deck-form">
          <label class="deck-naming" for="deck-name">Name your deck:</label>
          <input class="deck-naming" required type="text" maxlength="15" placeholder="Deck name" name="deckName">
          <label class="class-select" for="class-select">Select deck class:</label>
          <select class="class-select" required name="class">
            <option value="Druid">Druid</option>
            <option value="Hunter">Hunter</option>
            <option value="Mage">Mage</option>
            <option value="Paladin">Paladin</option>
            <option value="Priest">Priest</option>
            <option value="Rogue">Rogue</option>
            <option value="Shaman">Shaman</option>
            <option value="Warlock">Warlock</option>
            <option value="Warrior">Warrior</option>
          </select>
          <input class="creator" type="submit">
        </form>
      </section>
      <%- include ../partials/footer %>
      <script src="./app.js"></script>
</body>
</html>